.author-div{
    text-align: center;
    padding: 1rem;

}
.author-div div{
    margin-bottom: 1rem;

}
.author-introduction{
    font-size:.8rem;
    color: rgb(5, 5, 5);
}

.author-name {
    font-size: 1.6rem;
    color: rgb(254,110,0);
    font-family: Adele;
}

.author-tag-1 {
    color: rgb(1, 112, 122);
    margin-bottom: 8px !important;
}
.author-tag-2 {
    color: rgb(120, 12, 122);
    margin-bottom: 8px !important;
}

.account{
    background-color: #999;
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}