.header{
    background-color: #fff;
    padding: .4rem;
    overflow: hidden;
    height: 3.4rem;
    border-bottom:1px solid #ccc;
}
.header-logo{
    color:#1e90ff;
    font-size: 2.3rem;
    text-align: left;
    line-height: 1.2em;
    font-family: futura;
}
.header-txt{
    font-size: 0.9rem;
    color: #999;
    /* display: inline-block; */
    padding-left: 0.8rem;
}
.ant-menu{
    line-height: 2.8rem;

}
.ant-menu-item{
    font-size:1.0rem !important;
    padding-left:1rem;
    padding-right:1rem;

}
